<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>A</key>
	<dict>
	    <key>Y</key>
	    <integer>-55</integer>
	    <key>W</key>
	    <integer>-37</integer>
	    <key>V</key>
	    <integer>-37</integer>
	    <key>T</key>
	    <integer>-55</integer>
	</dict>
	<key>B</key>
	<dict>
	    <key>A</key>
	    <integer>-12</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>Y</key>
	    <integer>-18</integer>
	    <key>W</key>
	    <integer>-12</integer>
	    <key>V</key>
	    <integer>-18</integer>
	    <key>A</key>
	    <integer>-12</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>A</key>
	    <integer>-50</integer>
	    <key>period</key>
	    <integer>-111</integer>
	    <key>comma</key>
	    <integer>-111</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>period</key>
	    <integer>-18</integer>
	    <key>comma</key>
	    <integer>-18</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>O</key>
	    <integer>-12</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>Y</key>
	    <integer>-92</integer>
	    <key>W</key>
	    <integer>-74</integer>
	    <key>V</key>
	    <integer>-74</integer>
	    <key>T</key>
	    <integer>-74</integer>
	</dict>
	<key>O</key>
	<dict>
	    <key>Y</key>
	    <integer>-18</integer>
	    <key>W</key>
	    <integer>-12</integer>
	    <key>V</key>
	    <integer>-18</integer>
	    <key>T</key>
	    <integer>-12</integer>
	    <key>A</key>
	    <integer>-12</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>A</key>
	    <integer>-37</integer>
	    <key>period</key>
	    <integer>-129</integer>
	    <key>comma</key>
	    <integer>-129</integer>
	</dict>
	<key>R</key>
	<dict>
	    <key>Y</key>
	    <integer>-18</integer>
	    <key>T</key>
	    <integer>-9</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>O</key>
	    <integer>-12</integer>
	    <key>A</key>
	    <integer>-55</integer>
	    <key>period</key>
	    <integer>-92</integer>
	    <key>hyphen</key>
	    <integer>-62</integer>
	    <key>comma</key>
	    <integer>-92</integer>
	</dict>
	<key>U</key>
	<dict>
	    <key>A</key>
	    <integer>-12</integer>
	</dict>
	<key>V</key>
	<dict>
	    <key>A</key>
	    <integer>-37</integer>
	    <key>colon</key>
	    <integer>-18</integer>
	    <key>period</key>
	    <integer>-92</integer>
	    <key>hyphen</key>
	    <integer>-37</integer>
	    <key>comma</key>
	    <integer>-92</integer>
	</dict>
	<key>W</key>
	<dict>
	    <key>O</key>
	    <integer>-12</integer>
	    <key>A</key>
	    <integer>-30</integer>
	    <key>colon</key>
	    <integer>-18</integer>
	    <key>period</key>
	    <integer>-74</integer>
	    <key>hyphen</key>
	    <integer>-18</integer>
	    <key>comma</key>
	    <integer>-74</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>A</key>
	    <integer>-55</integer>
	    <key>semicolon</key>
	    <integer>-55</integer>
	    <key>colon</key>
	    <integer>-37</integer>
	    <key>period</key>
	    <integer>-92</integer>
	    <key>hyphen</key>
	    <integer>-74</integer>
	    <key>comma</key>
	    <integer>-92</integer>
	</dict>
    </dict>
</plist>
